/* Style for the grid container */
.product-grid .grid {
  display: grid;
  gap: 20px; /* Spacing between items */
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  justify-items: center;
}


.product-grid{
  /* margin-left: 10px; */
  /* width: 900px; increase the sizes of the box instead */
}



/*  

@media (max-width: 768px) {
  .grid {
      grid-template-columns: 1fr; 
  }
  
}*/
