
.part1{
    position: relative;
    height: 90vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;

}

.content h1,h2{
    color: white;
    font-size: 60px;
}
.content h1{
    position: relative;
    top:46px;
    left:60px;
}

.content p{
    color:black;
    /* font-size:18px; */
    /* position: relative; */
    /* left:70px; */
}
.content .special-p{
    color:white;
    font-size:18px;
    position: relative;
    left:90px;
    bottom:15px;
}

.dc{
    position: relative;
    border-radius: 16px;
    top:220px;
    left:860px;
    color:#538d67;
    border:none;
    background-color: #cff47f;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 170px;
}
.ner-p{
    color: #91bf72;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.arrow{
    position: relative;
    left:500px;
    bottom: 30px;
}