
.product-card {
    border-radius: 20px;
    background-color: #efefef;
    width:350px;
    height:350px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
 
  .product-image {
    width: 260px;
    height: 260px; 
    /* margin-bottom: 12px; */
    border-radius: 8px;
  }
  
  
  .product-card h3 {
    font-size: 18px;
    margin: 8px 0;
    color: #333;
    position: relative;
    right:  0px;
    /* top:60px; */
  }
 
  .rep{
    display: flex;
    width: 260px;
    align-items: center;
    justify-content: space-between;
  }
  .product-card p {
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
   
  }
  
  .product-card span {
    font-size: 14px;
    color: #888;
    display: block;
    margin-top: 1px;
    width: 200px;
  }
  